bcompare/DEB-GPG-KEY-scootersoftware.asc
bcompare/scootersoftware.list
fonts/fonts/*
gtk/Nordic-darker.tar.xz
gtk/StrongholdCursor.tar.xz
strongswan/NordVPN.pem
xnview/XnViewMP-linux-x64.deb
yandex/YANDEX-BROWSER-KEY.GPG
